// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Fonts
font-sans = 'Roboto', sans-serif
font-mono = 'Source Code Pro', Consolas, Monaco, Menlo, Consolas, monospace
font-icon = 'FontAwesome'

// Media queries
mq-mini = "screen and (max-width: 559px)"
mq-mobile = "screen and (min-width: 560px) and (max-width: 799px)"
mq-tablet = "screen and (min-width: 800px) and (max-width: 1199px)"
mq-normal = "screen and (min-width: 1200px)"
