/**
 * Import all stylus files
 *
 * CSS Properties order:
 *   1. Mixins, extends and others
 *   2. Positioning
 *   3. Box model
 *   4. Typographic
 *   5. Visual
 */

// framework
ks-no-conflict = true
@import 'kouto-swiss'

// grid system
@import 'jeet'

// normalize
normalize()

// imports
@import '_variables'
@import '_vertical-rhythm'
@import '_material-design'

// SMACSS + BEM
@import '_base'
@import '_layout'
@import '_module'
@import '_theme'

// TODO implement media queries
// Media Queries

// extends rules
@import '_extend'
